{% extends 'blog/base.html' %}

{% block content %}
    <form method="POST" class="post-form form-horizontal">{% csrf_token %}
        <!--<div class="control-group">
            <label class="control-label" for="inputEmail">Email</label>
            <div class="controls">
              <input type="text" id="inputEmail" placeholder="Email" name="email">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputPassword">Password</label>
            <div class="controls">
              <input type="password" id="inputPassword" placeholder="Password" name="password">
            </div>
          </div>
        <div class="control-group">
            <label class="control-label" for="inputPassword">Password</label>
            <div class="controls">
              <input type="password" id="inputPassword2" placeholder="Password" name="password2">
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <div class="form-actions">
              <button type="submit" class="btn">Регистрация</button>
                </div>
            </div>
        </div>-->

        
        
        <table>
            <tr>
                <td><p>E-mail</p></td>
                <td>{{ form.email }}</td>
                <td><p>{{ form.email.errors }}</p></td>
            </tr>
            <tr>
                <td><p>Пароль</p></td>
                <td>{{ form.password }}</td>
                <td><p>{{ form.password.errors }}</p></td>
            </tr>
            <tr>
                <td><p>{{ form.password2.label }}</p></td>
                <td>{{ form.password2 }}</td>
                <td><p>{{ form.password2.errors }}</p></td>
            </tr>
        </table>
        
        <button type="submit" class="btn inverse">Регистрация</button>
        <input type="hidden" name="text" value="{{ next }}"/>
    </form>
{% endblock %}