{% extends 'blog/base.html' %}

{% block content %}
 <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->

    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>           
        {% endif %}
        
        {% if user.extuser == post.author %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
    {% if user.is_authenticated %}
    {% if user.extuser != post.author %}
    <a class="btn btn-default" id="plus"><span class="glyphicon glyphicon-thumbs-up"></span></a>
    <strong id="like_count">{{ post.rate }}</strong>
    <a class="btn btn-default" id="minus"><span class="glyphicon glyphicon-thumbs-down"></span></a><br/><br/>

        
    <script>
       $('#plus').click(function(){
        var pk;
        pk = {{ post.pk }};
        $.get('/post/plus/', {post_pk: pk}, function(data){
                   $('#like_count').html(data);
                   //$('#likes').hide();
        });

    });
        
        $('#minus').click(function(){
        var pk;
        pk = {{ post.pk }};
        $.get('/post/minus/', {post_pk: pk}, function(data){
                   $('#like_count').html(data);
                   //$('#likes').hide();
        });

    });
    </script>


    
    <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
    {% endif %}
    {% endif %}
    <hr>
    {% for comment in post.comments.all %}
        <div class="comment">
            <div class="date">
                {{ comment.created_date }}
            </div>
            <strong>{{ comment.author }}</strong>
            <p>{{ comment.text|linebreaks }}</p>
        </div>
    {% empty %}
        <p>К этой записи нет комментариев</p>
    {% endfor %}
{% endblock %}
