{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.created_date }}
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.description|linebreaksbr }}</p>
            <p>Автор: <a href="{% url 'user_detail' pk=post.author.pk %}">{{ post.author.username }}</a></p>
            <!--<a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.comment_set.all.count }}</a>-->
        </div>
    {% endfor %}
{% endblock %}
