{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block content %}
<!--<div class="container">
    
<!--</div>-->
<div class="row">
    <div class="col-md-8 col-md-offset-1">
        <!--<div class="row">
            <div class="col-md-8 col-sm-8">
                <li><form role="search" class="navbar-form pull-right form-inline">
                  
                    <input name="search" type="text" class="span2" placeholder="Поиск">
                        <button class="btn btn-info" type="button">
                          <i class="glyphicon glyphicon-search"></i>
                        </button>
                  
                 </form></li>
            </div>
        </div>-->
        <div class="row">
        <div class="col-md-4 col-sm-4">
        <select class="form-control" type="text" id="field" onchange="sort()">
            <option value="published_date">Дата публикации</option>
            <option value="author">Автор</option>        
        </select>
        </div>
        <div class="col-md-4 col-sm-4">
        <select class="form-control" type="text" id="order" onchange="sort()">
            <option value="desc">По убыванию</option>
            <option value="asc">По возрастанию</option>        
        </select>  
        </div>
    </div>
    <div class="my_posts">
    
        </div>
    </div>
    <div class="col-md-2 col-md-offset-1" >
        <div > <!--style="position: fixed;"-->
                                
          <ul class="sidebar nav nav-pills nav-stacked">
            <li class="nav-item active" ><a class="nav-link"  href="#-1">Все категории</a></li>
            
            {% for category in object_list %}
              <li class="nav-item"><a class="nav-link"  href="#{{ category.pk }}">{{ category.title }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>

<script>
    
</script>
    
<!--</div>-->
<script src="{% static 'js/sort_post.js' %}"></script>
{% endblock %}
